<%- include("partials/header.ejs") %> <% var today = new Date(); %> <% var date
= today.toLocaleDateString('default', { weekday: 'long' })+ ", " +
today.toLocaleString('default', { month: 'long' }) +" "+ today.getDate()+"rd";
%>

<div class="box1">
  <h1><%- date %></h1>
</div>

<div class="box">
  <% if (locals.newTask) { %>
  <div class="item">
    <% for (let index = 0; index < newTask.length; index++) { %>
    <input
      type="checkbox"
      id="checkbox<%= index %>"
      data-index="<%= index %>"
    />
    <label for="checkbox<%= index %>"><%= newTask[index] %></label>

    <hr />
    <!-- Add a horizontal line after each label -->

    <% } %>
  </div>
  <% } %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="Work" list="">+</button>
  </form>
</div>
<%- include("partials/footer.ejs") %>
