<%- include("partials/header.ejs") %>

<div class="box1">
  <h1>Work List</h1>
</div>

<div class="box">
  <% if (locals.newTask) { %>
  <div class="item">
    <% for (let index = 0; index < newTask.length; index++) { %>
    <form action="/delete" method="post">
      <input
        type="checkbox"
        name="checkboxwork"
        id="checkbox<%= newTask[index]._id %>"
        value="<%= newTask[index]._id %>"
        data-index="<%= index %>"
        onChange="this.form.submit()"
      />
      <label for="checkbox<%= newTask[index]._id %>"
        ><%= newTask[index].name %></label
      >
    </form>
    <hr />
    <!-- Add a horizontal line after each label -->

    <% } %>
  </div>
  <% } %>

  <form class="item" action="/work" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="Work" list="">+</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
